
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Images/Hotel1.webp') center/cover no-repeat;
    z-index: -1;
}

body{
    font-family: 'Georgia', serif;
}
img{
    margin-left: 20px;
    height: 15%;
    width: 15%;
}
.form-box {
    position: relative;
    width: 600px;
    height: auto;
    margin-top: 10px;
    margin: 50px auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.89);
    padding: 20px;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
}
.input-other{    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;

}
.num-input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
}
label{
    margin-top: 15px;
}
.label-other{
    font-style: italic;
}
.label-radio{
    display: inline-flex; 
    align-items: center;    
    gap: 4px;              
}
.required-label::after{
      content:" *";
      color: red;
}
select{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

form{
    margin: 30px;
}
.checkbox{
    text-align: left center;
    align-items: left;
}
.title{
    text-align: center;
    padding: 10px;
}
.title-hr{
    width: 450px;
}
hr{
    margin-top: 30px;
}
h2{
    margin-top: 25px;
    margin-left: 15px;
}
textarea{
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
button{
    font-family: 'Georgia', serif;
    font-size: 20px;
    margin-left: 220px;
    margin-bottom: 50px;
    width: 150px;
    height: 50px;
    border-radius: 70px;
}

input[type="radio"] {
    width: 30px; 
    margin-bottom: 20px;
    height: auto;
    transform: scale(1.3);
}

input[type="checkbox"] {
    width: 30px;
    margin-bottom: 20px; 
    height: auto;
    transform: scale(1.3);
}



